
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --gold-gradiant: linear-gradient(135deg, #f0c27b, #4b1248);
    --gold-gradiant-2:linear-gradient(135deg, #f0c27b 0%, #f0c27b 50%, #e4a64a 100%);
    --gold-normal:rgb(102, 88, 8);
    --first: rgb(43, 38, 38);
    --second: #fff; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: relative;
}

body {
    font-family: 'Poppins';
    
}

.img-top img{
    width: 100%;

}

.menu {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-weight: 400;
    font-size:17px;
    width: 100%;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0) 10%, rgba(176, 185, 72, 0.7) 30%, rgba(176, 185, 72, 0.7) 70%, rgba(248, 248, 248, 0) 90%); */
    height: auto;
    box-sizing: border-box;
    
    
}

.menu-item {
    
    padding: 10px;
    margin: 0px 10px;
}

.menu-item a {
    text-decoration: none;
    color:var(--first);
    font-weight: 600;
    transition:  all .2s ease;

    &:hover{
        color:#f0c27b;
        border-bottom:2px solid #f0c27b;
        box-shadow: 0 4px 8px rgba(255, 254, 254, 0.2);
    }
}
#hok-logo {
    position: absolute;
    width: 30%;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}


#img-top{
    display:flex;
    position: relative;
    width: 100%;
    
}

.icons{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:130px;
    font-size: 35px;
}
.icons i{
    margin:10px;

}
.qrcode-images{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom:300px;
    width: 100%;
 

}



.qrcode #qr-1{
    width: 20%;
    padding:10px;
    background-color: black;
    border-radius:12px;
    
}
.qrcode #qr-2{
    width: 20%;
    padding:5px;
    background-color: black;
    border-radius:12px;
}

.qrcode-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:110px;
    
}

.qrcode-icon img{
    width: 150px;
    margin:20px;
   
}
.qrcode h3{
    margin-bottom:20px;
}

#qrimg-1{
    visibility: hidden;
}
#qrimg-2{
    visibility: hidden;
}

#h1{
position: relative;
bottom:85px;
}

span #herois{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.text-aside {
    position: relative;
    width: 100%;
    bottom:100px;
    height: 100vh; 
}

#img-fundo, #img-fundo1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1; 
    object-fit: cover; 
}


.menu-inferior {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    list-style-type: none; 
    margin: 0;
    width: 100%;
    
    
    
}


.menu-inferior li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    text-align: center;
   
}
.menu-inferior li:hover{
    background-image: url(img/HEROI-FUNDO.png);
    height: 100%;
color:white;
    
   
}

.menu-inferior a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 20px;
    margin-top:20px;
    
}



.img-redondo {
    position: relative;
    
    float:right;
    width: 40%;
    margin: 0 auto; 
}

.imagem-superior,
.imagem-inferior {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
}

.imagem-superior {
    z-index: 2; 
    position: relative;
    width: 94%;
    
}


.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

  
}


    #video-player {
        position: relative;
        left: 30px;
        z-index: 0;
        top:30px;
        width: 85%;
        height: auto;
        border-radius: 50%; 
        overflow: hidden; 
        transition: opacity 0.5s ease, transform 0.5s ease;
    
    }


    #videoPlayer, #thumbnail {
        transition: all opacity 0.5s ease; 
        opacity: 1; 
      }

